name: main

on:
  - push
  - pull_request

jobs:
  test:
    strategy:
      matrix:
        ghc: ['8.6', '8.8', '8.10', '9.0']
        test: [doctest, spec]
        continue-on-error: [false]
        include:
          - ghc: latest
            test: doctest
            continue-on-error: true
          - ghc: latest
            test: spec
            continue-on-error: true

    runs-on: ubuntu-latest

    continue-on-error: ${{ matrix.continue-on-error }}

    steps:
      - uses: actions/checkout@v2
      - uses: haskell/actions/setup@v1
        with:
          ghc-version: ${{ matrix.ghc }}
      - uses: actions/cache@v2
        with:
          path: $HOME/.cabal/packages
          key: packages-${{ runner.os }}-${{ matrix.ghc }}
      - uses: actions/cache@v2
        with:
          path: $HOME/.cabal/store
          key: store-${{ runner.os }}-${{ matrix.ghc }}
      - run: make build-deps
      - run: make build
      - run: make ${{ matrix.test }}

  lint:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - uses: rwe/actions-hlint-setup@v1
      - run: make lint
